<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Platform Name : @Model.name</h5>
    @foreach (Media media in @Model.availableMedia)
    {
        <h6 class="card-subtitle mb-2 text-muted">Media Title : @media.title</h6>
        <p class="card-text">Media Description : @media.description</p>
    }
  </div>
</div>
<br>
