@* reference model passed into view from controller method *@
@model Classwork.Models.Platform

@* Page Header *@
<h1>View One Platform</h1>

@* Page Contents *@
@* Display the partial and pass the platform object passed from view*@
<partial name="_PlatformDetails"/>