@model Classwork.ViewModels.PlatformAndMedia
<h1>View Popular Platforms</h1>
@foreach (Platform platform in @Model.platformList)
{
    @if(@platform.availableMedia.Count >= 3)
    {
       <partial name = "_PlatformDetails" model = "platform"/> 
    }
}